:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    /* --bs-dark-rgb: 129,182,56; */
    --bs-primary-text: #0a58ca;
    --bs-secondary-text: #6c757d;
    --bs-success-text: #146c43;
    --bs-info-text: #087990;
    --bs-warning-text: #997404;
    --bs-danger-text: #b02a37;
    --bs-light-text: #6c757d;
    /* --bs-dark-text: #81b638; */
    --bs-dark-text: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #f8f9fa;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-info-bg-subtle: #cff4fc;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #9ec5fe;
    --bs-secondary-border-subtle: #e9ecef;
    --bs-success-border-subtle: #a3cfbb;
    --bs-info-border-subtle: #9eeaf9;
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 255,255,255;
    --bs-body-bg-rgb: 88,88,88;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #fff;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255,255,255;
    --bs-secondary-color: rgba(33, 37, 41, 0.75);
    --bs-secondary-color-rgb: 33,37,41;
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-bg-rgb: 233,236,239;
    --bs-tertiary-color: rgba(33, 37, 41, 0.5);
    --bs-tertiary-color-rgb: 33,37,41;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248,249,250;
    --bs-body-bg: #042954;
    --bs-body-bg-rgb: 4,41,84;
    --bs-link-color: #faaf08;
    --bs-link-color-rgb: 250,175,8;
    --bs-link-decoration: none;
    --bs-link-hover-color: #f2f2f2;
    --bs-link-hover-color-rgb: 242,242,242;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #003776;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0px;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(var(--bs-body-color-rgb), 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(var(--bs-body-color-rgb), 0.075);
    --bs-form-control-bg: var(--bs-body-bg);
    --bs-form-control-disabled-bg: var(--bs-secondary-bg);
    --bs-highlight-bg: #fff3cd;
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
}
.list-group {
    --bs-list-group-bg: #43494e;
    --bs-list-group-active-color: #fff !important;
    --bs-list-group-active-bg: #262b2f !important;
    cursor: pointer;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ffffff36;
    --bs-btn-border-color: #ffffff36;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #faaf08;
    --bs-btn-hover-border-color: #faaf08;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}
.tooltip {
    --bs-tooltip-padding-x: 1rem;
    --bs-tooltip-padding-y: 1rem;
    --bs-tooltip-margin: ;
    --bs-tooltip-font-size: 1rem;
    --bs-tooltip-color: #fff;
    --bs-tooltip-bg: #000;
    --bs-tooltip-border-radius: var(--bs-border-radius);
    --bs-tooltip-opacity: 0.9;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--bs-body-color);
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--bs-body-color);
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--bs-body-color);
}

h4, .biopama-green {
    color: #90c14f;
}

.text-black {
    color: #000;
}

.bg-gray-1200 {
    background-color: #1f2123 !important;
}

section.section {
    background: #031d3c;
}

.pagination > li > a, .pagination > li > span {
    color: #ffffff !important;
    background-color: #1f21234a !important;
    border: 1px solid #4c4f52 !important;
}

.bio-divider:before {
    background-color: #a7d0e3;
    background: linear-gradient(to right, #a7d0e3 0%, #a7d0e3 25%, #cf795e 25%, #cf795e 50%, #8fc04c 50%, #8fc04c 75%, #42ac53 75%, #42ac53 100%);
}

table th {
    background-color: #333639 !important;
}

table.dataTable tr {
    background-color: #1f2123;
}

table.dataTable tfoot {
    background-color: #606060;
}

table.dataTable tr:hover {
    background-color: #395716;
}

.dashboard-left-menu-item:hover {
    background-color: #000;
}

.card-link {
    background: #90c14f;
    color: #fff!important;
}
.card-link:hover {
    background-color: #91b090;
}

.navbar-dark {
    --bs-navbar-color: rgba(255, 255, 255, 0.822);
    --bs-navbar-hover-color: rgb(255, 255, 255);
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-active-color: #ffffff8f;
    --bs-navbar-brand-color: #ffffff;
    --bs-navbar-brand-hover-color: #ffffff;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}
.nav-link:focus, .nav-link:hover {
    background-color: rgba(0,0,0,0.1);
}
nav#block-akp-main-menu {
    left: -1.5em;
    position: relative;
}
.navbar-nav .nav-link {
    padding: 1.5em !important;
    margin-bottom: -0.5em;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #71b91b;
    --bs-nav-pills-link-active-color: #ffffff;
    --bs-nav-link-hover-color: #4d7e12;
    --bs-nav-link-color: #71b91b;
}

.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
}

#navbar-main {
    background-color: rgb(0, 47, 103) !important;
  }


  #loader, #map-loader{
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #70b6d1;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 10001;
}

#mini-loader {
    border: 7px solid transparent !important;
    border-top-color: #002f67 !important;
}

#loader:before, #map-loader:before, #mini-loader:before{
    border: 5px solid transparent !important;
    border-top-color: #faaf08 !important;
}

#loader:after, #map-loader:after, #mini-loader:after {
    border: 3px solid transparent !important;
    border-top-color: #003776 !important;
}

.btn-outline-success {
    --bs-btn-color: #919191;
    --bs-btn-border-color: #919191;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #919191;
    --bs-btn-hover-border-color: #919191;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #919191;
    --bs-btn-active-border-color: #919191;
    --bs-btn-disabled-color: #919191;
    --bs-btn-disabled-border-color: #919191;
}