h1.title{
    display: none !important;
}

.landingpage-logo img{
    width: 100%!important;
    position: relative;
}

.block.block-akp-blocks, #akp-landingpage-content, #whats-new, #topics, #sdg-goals {
    position: relative;
}

.pulse{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.308);
    border-radius: 50%;
    position: relative;
    animation: animate 3s linear infinite
}
.pulse i{
    text-align: center;
    font-size: 4rem;
    width: 100px;
    line-height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
    cursor: pointer
}
@keyframes animate{
    0%{box-shadow: 0 0 0 0 rgba(255, 192, 74, 0.7) , 0 0 0 0 rgba(255, 198, 74, 0.7)}
    40%{box-shadow: 0 0 0 50px rgba(255, 183, 74, 0) , 0 0 0 0 rgba(255, 198, 74, 0.7)}
    80%{box-shadow: 0 0 0 50px rgba(255, 177, 74, 0) , 0 0 0 30px rgba(255, 161, 74, 0)}
    100%{box-shadow: 0 0 0 0 rgba(255, 183, 74, 0) , 0 0 0 30px rgba(255, 192, 74, 0)}
}

.pulse:hover {
    background-color: #faaf08!important;
}

#whats-new, #topics {
    background-color: #003776!important;
}
#sdg-goals {
    background-color: #002e65!important;
}

.view-cards-topics .views-view-grid:nth-of-type(1) .card {
    background: #456329!important;
}
.view-cards-topics .views-view-grid:nth-of-type(1) .card .image-overlay {
    background-image: linear-gradient(to bottom right,#456329a2,#000000a2)!important;
}

.view-cards-topics .views-view-grid:nth-of-type(2) .card {
    background: #c31f33!important;
}
.view-cards-topics .views-view-grid:nth-of-type(2) .card .image-overlay {
    background-image: linear-gradient(to bottom right,#c31f33a2,#000000a2)!important;
}

.view-cards-topics .views-view-grid:nth-of-type(3) .card {
    background: #cf8d2a!important;
}
.view-cards-topics .views-view-grid:nth-of-type(3) .card .image-overlay {
    background-image: linear-gradient(to bottom right,#cf8d2aa2,#000000a2)!important;
}

.view-cards-topics .views-view-grid:nth-of-type(4) .card {
    background: #3670ab!important;
}
.view-cards-topics .views-view-grid:nth-of-type(4) .card .image-overlay {
    background-image: linear-gradient(to bottom right,#3671aba2,#000000a2)!important;
}

.view-cards-topics .views-view-grid:nth-of-type(5) .card {
    background: #623a6d!important;
}
.view-cards-topics .views-view-grid:nth-of-type(5) .card .image-overlay {
    background-image: linear-gradient(to bottom right,#623a6da2,#000000a2)!important;
}

.view-cards-topics .views-view-grid:nth-of-type(6) .card {
    background: #6fa6cc!important;
}
.view-cards-topics .views-view-grid:nth-of-type(6) .card .image-overlay {
    background-image: linear-gradient(to bottom right,#6fa6cca2,#000000a2)!important;
}

.view-cards-topics .views-view-grid:nth-of-type(7) .card {
    background: #88530e!important;
}
.view-cards-topics .views-view-grid:nth-of-type(7) .card .image-overlay {
    background-image: linear-gradient(to bottom right,#88530ea2,#000000a2)!important;
}

.view-cards-topics .views-view-grid:nth-of-type(8) .card {
    background: #15497e!important;
}
.view-cards-topics .views-view-grid:nth-of-type(8) .card .image-overlay {
    background-image: linear-gradient(to bottom right,#15497ea2,#000000a2)!important;
}

.view-cards-topics .views-view-grid:nth-of-type(9) .card {
    background: #9a394f!important;
}
.view-cards-topics .views-view-grid:nth-of-type(9) .card .image-overlay {
    background-image: linear-gradient(to bottom right,#9a394fa2,#000000a2)!important;
}

.view-cards-topics .views-view-grid:nth-of-type(10) .card {
    background: #f36d25!important;
}
.view-cards-topics .views-view-grid:nth-of-type(10) .card .image-overlay {
    background-image: linear-gradient(to bottom right,#f36d25a2,#000000a2)!important;
}

#topics .card .card-image {
    position: relative;
}
#topics .card .image-overlay {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    transition: all .3s ease-in-out;
}
#topics h3 {
    padding-top: 20px;
}
.card-image:hover .image-overlay {
    height: 0 !important;
    bottom: 100% !important;
}

.align-fix{
    min-height: 122px;
}

input#akp-search {
    border-bottom: 3px solid #faaf08;
}

.fac-result {
    margin-right: 1.5rem!important;
    margin-left: 1.5rem!important;
    width: 100%;
    width: -moz-available;          /* For Mozzila */
    width: -webkit-fill-available;  /* For Chrome */
    width: stretch;                 /* Unprefixed */
}

.fac-result ul.result-list {
    background-color: rgba(0,0,0,0.87) !important;
    color: white !important;
}

.fac-result ul.result-list li {
    border: 0px !important;
}

.fac-result ul.result-list li.selected {
    background-color: #2c2c2c !important;
}

.akp-search-result {
    border-bottom: 3px solid #ccc;
}