a {
    text-decoration: none;
}
div#main-content-wrapper {
    position: relative;
}
table.dataTable {
    color: unset;
    width: 100% !important;
}

.ck.ck-editor__main {
    color: #000;
}

.card hr {
    border-top: 1px solid #42474c !important;
}

.title {
    font-size: 5REM;
    TEXT-ALIGN: center;
    padding-top: 38px;

}

#scrollTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    font-size: 18px;
}

.ui-dialog {
    z-index: 1000;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a {
    font-weight: 100 !important;
}

.wave-corner img {
    position: relative;
}

div#page {
    overflow-x: hidden;
}

.masthead-img,
.masthead-img::before{
    width: 100%;
    height: 100%;
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.masthead-img {
    background-image: url("/themes/custom/akp/images/bkg.jpg");
}
.masthead-img::before {

    background-image: linear-gradient(to bottom right,#002f67,#c19416a3);
    opacity: 0.96;
}
hr {
    border-top: 4px solid #faaf08 !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em !important;
    margin-bottom: 2em !important;
    opacity: 1;
}

legend {
    margin-bottom: 0 !important;
}

.form-checkboxes.bef-checkboxes.form--inline {
    display: flex;
}

.form-checkboxes.bef-checkboxes.form--inline div.checkbox{
    padding-right: 2.5em;
}

.checkbox-xl .form-check-input {
    scale: 2;
    margin-top: 20px;
    cursor: pointer;
}
.checkbox-xl .form-check-label {
    padding-left: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.dashboard-image-icon img {
    height: 70px;
}

.bio-footer-icon img {
    height: 70px;
}

.card-zoomed{
    /* zoom: 1.05;
    transform: scale(1.05);
    -moz-transform: scale(1.05); */
    box-shadow: 0px 0px 10px 5px rgba(24, 25, 25, 0.54);
}
.card-link {
    position: relative;
    right: -20%;
    width: 10rem;
    text-transform: uppercase;
}

.biopama-collapse[aria-expanded=false] .card-expanded,
.biopama-collapse[aria-expanded=true] .card-collapsed{
  display: none;
}


.dashboard-left-menu-item:hover {
    transform: scale(1.2);
    border-radius: 5px;
    opacity: 1;
}

div.chosen-container.form-select {
    width: 100% !important;
    min-height: 48px;
    margin-top: 0px !important;
}

form.node-form .chosen-container-single .chosen-single {
    box-shadow: inset 0px 0px 10px rgb(0 0 0 / 20%);
} 

.biopama-filters form.views-exposed-form .form-row {
    display: flex;
}
fieldset.js-form-type-select.js-form-item-field-country-iso3-value,
fieldset.js-form-type-select.js-form-item-country{
    display: flex;
    flex-direction: column;
    min-width: 20%;
}

i.far.fa-file-pdf {
    font-size: 3em;
}

em.placeholder {
    background: unset !important;
    cursor: unset !important;
}

.block-cheeseburgermenu-container {
    width: 500px;
}

table th {
    font-weight: 800 !important;
    font-variant: all-small-caps;
    font-size: medium;
    border: 0px !important;
}

table.dataTable tr {
    font-size: 15px;
}

table.dataTable td {
    border: 0px;
}

div[data-cheeseburger-id="menu-language"] ul {
    display: flex;
}
div#block-languageswitcher--2 {
    display: none;
}
.biopama-chart{
    min-height: 300px;
}

#block-biopama-page-title{
    position: relative;
}
.biopama-logo{
    max-width: 20%;
}

#data_source{
    font-size: 12px;
    font-style: italic;
}

.count-chart-little-number{
    font-size: 0.5em;
}

div.dataTables_filter {
    display: inline;
    float: right;
}

.ui-dialog .ui-dialog-titlebar-close {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #ff7474;
    margin-top: -15px;
}

.ui-dialog .ui-dialog-titlebar-close:hover {
    background-color: darkred;
}

.ui-dialog .ui-dialog-titlebar-close::before {
    content: '\f00d';
}
  .region-id-change{
    color: rgb(122 131 134)!important;
    
  }

  .bio-divider:before {
    content: "";
    display: inline-block;
    margin-left: 10%;
    width: 80%;
    height: 2px;
}

th {
    padding-top: 10px;
}

.view.view-talkingmaps{
    position: relative;
    color: white;
    z-index: 2000;
}

.cheeseburger-menu__backdrop--active {
    display: none;
}

body, html, p, a, li, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a {
    font-family: "Maven Pro" !important;
}

.form-actions {
    background: unset !important; 
}

.field.field--name-field-dashboard-image-icon.field--type-image.field--label-hidden.field__item {
    background: #aaaaaa;
    padding: 10px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.field.field--name-field-dashboard-image-icon.field--type-image.field--label-hidden.field__item img {
    width: 100px;
    height: 100px;
}

.node-form .layout-region.layout-region-node-secondary {
    display: none;
}
.node-form .layout-region-node-main, .node-form .layout-region-node-footer {
    width: 100%;
}

.btn-sm.rounded-circle {
    width: 30px;
    height: 30px;
    line-height: 18px;
}

@media only screen and (min-width: 992px) {
    #block-akp-cheeseburgermenutrigger {
        display: none !important;
    }
}

@media only screen and (max-width: 992px) {
    #block-akp-main-menu {
        display: none !important;
    }
}
nav.tabs {
    position: relative;
}

.card .card-image {
    position: relative;
}
.card .image-overlay {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    transition: all .3s ease-in-out;
}

.view-id-stories .card .image-overlay,
.view-id-tools .card .image-overlay{
    background-image: linear-gradient(to bottom right,#bab8b352,#000000);
}

.teaser-button{
    top: 0.5em;
    right: 0;
}

nav.admintoolbar {
    top: 79px;
}
.align-self-stretch.d-flex > a {
    height: 100%;
}

.indicator-card-image{
    max-height: 200px;
    overflow: hidden;
}

div#drupal-off-canvas .form-control {
    background: unset;
    color: unset;
}

img.image-style-menu-icon {
    border-radius: 50%;
}

a.chosen-single {
    webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

.globan.globan-invalid-domain {
    height: 0px !important;
    padding: 0px !important;
}

.paragraphs-dropdown-action.button {
    color: #000;
}

.paragraphs-dropdown-action.button:hover {
    background: #bebebe;
}

#drupal-bootstrap4-modal .modal-body {
    background: #0006;
}

#drupal-bootstrap4-modal .view-entity-reference-map-legend-select .views-row {
    display: flex;
    padding: 20px;
}

#drupal-bootstrap4-modal .view-entity-reference-map-legend-select .views-field.views-field-rendered-entity {
    width: 100%;
}

#drupal-bootstrap4-modal .view-entity-reference-map-legend-select span {
    padding: 0px 0px 0px 10px;
}

.sticky-top {
    z-index: 999 !important;
}

.ui-accordion .ui-accordion-content {
    min-height: 300px;
}

.ui-widget.ui-widget-content {
    z-index: 20000 !important;
}

.screen-vh-admin {
    height: calc(100vh - 143px) !important;
}