{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
<div class="row">
    <div class="col-6">
        {{ form.title }}
    </div>
    <div class="col-6 checkbox-xl">
        {{ form.type }}
    </div>
    <div class="col-12">
        {{ form.actions }}
    </div>
</div>
