{{ attach_library( 'biopama_global_data/dopa_country' ) }}
{{ attach_library( 'biopama_conservation_tracking/ct-page' ) }}
{{ attach_library( 'biopama_conservation_tracking/main' ) }}

{% if is_admin %}
  {% set heightclass = 'screen-vh-admin' %}
{% else %}
  {% set heightclass = 'screen-vh' %}
{% endif %}
<div id="container-page" class="container-fluid text-bg-dark">
  <div class="row">
	<div class="col p-0  {{ heightclass }}" id="container-data">
	  	<!-- Start Title -->
			<div class="row sticky-top text-bg-dark">
				<div class="col d-flex flex-grow-1">
					<div class="wrapper-title-flag d-flex align-items-center px-4">
						<img id="country-flag" src="">
					</div>
					<div class="title-sidebar flex-grow-1" id="dopa-title">
						<h5 class="subtitle">
							<div class="d-inline scope-name" id="title-scope-name"></div>
						</h5> 
						<div class="fw-lighter fst-italic">
							Within the country profile you can explore global and national indicators and near real-time information on the status and pressures in and around protected areas. You can also select specific metrics and create your report to be exported as a pdf document.
						</div>
					</div>
				</div>
				<div class="col flex-grow-0">
					<div id="report-link" class="text-center m-3" data-bs-toggle="tooltip" data-bs-html=true data-bs-placement="right" title="Click here to go to the report printing page"> 
						<div id="report-icon-large">
							<i class="far fa-file-alt"></i>
						</div> 
						<div id="report-number"> </div> 
					</div> 
				</div>
			</div>
			<div class="row text-align-center fs-5">
				<div class="col-12 h2 p-5">
					AKP custom country charts
				</div>
			</div>
			<div class="row text-align-center">
				<div class="col-12">
					{# <span class="scope-name pa-totals"></span> is covered by <span class='total-pa-num pa-totals'></span> protected areas, <span class='national-pa-num pa-totals'></span> are national, <span class='international-pa-num pa-totals'></span> are international, and <span class='regional-pa-num pa-totals'></span> are regional. #}
				</div>
			</div>
	  	<!-- End Title -->
	  
		<!-- Start Cards -->
		<div class="wrapper-cards-sidebar p-3 mb-5">
			{% for card in thematicCards %}
				{# <script>console.log({{ card|json_encode|raw }});</script> #}
				{% include '@biopama_global_data/thematic-card.html.twig' %}
				{# {% include 'thematic-card.html.twig' %} #}
				
			{% endfor %}
			<button id="panorama-solutions-button" class="biopama-collapse my-2 btn  btn-outline-success w-100 d-flex justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePanorama" aria-expanded="false" aria-controls="collapsePanorama">
				<div class="collapse-title"><i class="fa-solid fa-magnifying-glass"></i> Country Solutions </div><div class="card-collapsed"><i class="fas fa-chevron-down"></i></div><div class="card-expanded"><i class="fas fa-chevron-up"></i></div>
			</button>
			<div class="collapse wrapper-card" id="collapsePanorama">
				<div class="m-3 border-0">
				<div class="card-body">
					<div class="card-text">
						<div class="panorama-solutions-results"></div>
					</div>
				</div>
				</div>
			</div>
			<button class="biopama-collapse my-2 btn  btn-outline-success w-100 d-flex justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDocuments" aria-expanded="false" aria-controls="collapseDocuments">
				<div class="collapse-title"><i class="fa-solid fa-book"></i> Documents </div><div class="card-collapsed"><i class="fas fa-chevron-down"></i></div><div class="card-expanded"><i class="fas fa-chevron-up"></i></div>
			</button>
			<div class="collapse wrapper-card" id="collapseDocuments">
				<div class="m-3 border-0">
				<div class="card-body">
					<div class="card-text">
						<div class="contextual-region">
							{{ drupal_contextual_links('entity.view.edit_form:view=documents_by_scope_&display_id=country:') }}
							{{ drupal_view('documents_by_scope_', 'country') }}
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
		<!-- End Cards --> 
	</div>
	<div class="col p-0  {{ heightclass }}" id="container-map">
		<div id="container-area-search" class="d-print-none p-3">
			<div id="country-search">
			</div>
		</div>
		<div id="container-mapbox-map"></div>
	</div>
  </div>
</div>