 {#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
{{ attach_library( 'akp/indicator-card' ) }}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{% set nodeid = node.id %}
{% set statistics = false %}
{% set servertype = "" %}
{% if (content.field_indi_data_global|length > 3) or (content.field_indi_geonode_global.0|render == 'On') %}
	{% set global_data = true %}
	{% set statistics = true %}
{% else %}
	{% set global_data = false %}
{% endif %}
{% if (content.field_indi_data_regional|length > 3) or (content.field_indi_geonode_regional.0|render == 'On') %}
	{% set regional_data = true %}
	{% set statistics = true %}
{% else %}
	{% set regional_data = false %}
{% endif %}
{% if (content.field_indi_data_national|length > 3) or (content.field_indi_geonode_country.0|render == 'On') %}
	{% set national_data = true %}
	{% set statistics = true %}
{% else %}
	{% set nationaldata = false %}
{% endif %}
{% if node.field_indi_map_layers_all.entity.field_layer_server_type[0].entity.label is not null %}
	{% set servertype = node.field_indi_map_layers_all.entity.field_layer_server_type[0].entity.label %}
{% endif %}
{% if node.field_indi_map_layers_all.entity.field_layer_source[0].entity.title[0].value is not null %}
	{% set dataClass = node.field_indi_map_layers_all.entity.field_layer_source[0].entity.title[0].value|t|trim %}
{% else %}
	{% set dataClass = "no-source" %}
{% endif %}
<div id="id-{{ nodeid }}" class="card indicator-card rounded-0 mb-2 {{ "source-" ~ dataClass|lower }}" style="background-color: #2f3438;">
	<div class='container-fluid indicator-content-wrapper'>
		<div class='row'>
			<div class="col-1 p-0" aria-label="Close" onclick='closeIndicatorCard({{ nodeid }})'>
				<div data-bs-toggle="tooltip" title="Close" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle indicator-actions-icon">
					<i class="fa-solid fa-xmark"></i>
				</div>
			</div>
			<a class="col-1 p-0" data-bs-toggle="collapse" data-bs-target="#collapseCard{{ nodeid }}" aria-expanded="true" aria-controls="collapseCard{{ nodeid }}">
				<div data-bs-toggle="tooltip" title="Minimise" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle indicator-actions-icon">
					<i class="fa-solid fa-window-minimize"></i>
				</div>
			</a>
			<div class="col-10 p-0 grab d-flex justify-content-between">
				<div class="mini-title d-flex align-items-center d-none">
					{{ node.title.value|render|truncate(30, false, true) }}
				</div>
				<div data-bs-toggle="tooltip" title="Move" class="grab ms-auto btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle indicator-actions-icon">
					<i class="fa-solid fa-grip-vertical"></i>
				</div>
			</div>
		</div>
		<div class="collapse show" id="collapseCard{{ nodeid }}">
			<div class='row'>
				<div class="h5 p-3 m-0">
					{{ label }}
				</div>
			</div>
			{% if servertype in ["timeseries", "Edo"]  %}
				<div class='row'>
					<div id="timeseries-wrapper-{{ node.field_indi_map_layers_all.entity.id }}" class="pb-3">
						<i>Select a year</i>
						<select class="drop_year_layer form-select form-control-lg rounded-0">
							{# <option value="2003">2003</option>
							<option value="2004">2004</option>
							<option value="2005">2005</option>
							<option value="2006">2006</option>
							<option value="2007">2007</option>
							<option value="2008">2008</option>
							<option value="2009">2009</option> #}
							<option value={{ "now"|date("Y") }}>{{ "now"|date("Y") }}</option>
							<option value="2010">2010</option>
							<option value="2011">2011</option>
							<option value="2012">2012</option>
							<option value="2013">2013</option>
							<option value="2014">2014</option>
							<option value="2015">2015</option>
							<option value="2016">2016</option>
							<option value="2017">2017</option>
							<option value="2018">2018</option>
							<option value="2019">2019</option>
							<option value="2020">2020</option>
							<option value="2021">2021</option>
							<option value="2022">2022</option>
							<option value="2023">2023</option>
						</select>
						<i>Select a month</i>
						<select class="drop_month_layer form-select form-control-lg rounded-0">
							<option value={{ "now"|date("m") }}>{{ "now"|date("F") }}</option>
							<option value="01">January</option>
							<option value="02">February</option>
							<option value="03">March</option>
							<option value="04">April</option>
							<option value="05">May</option>
							<option value="06">June</option>
							<option value="07">July</option>
							<option value="08">Auuust</option>
							<option value="09">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
						<i>Select a 10 day period</i>
						<select class="drop_day_layer form-select form-control-lg rounded-0">
							<option value="01" selected>1 - 10</option>
							<option value="11">11 - 20</option>
							<option value="21">21 - 30</option>
						</select>
					</div>
				</div>
			{% endif %}
			<div class='row'>
				<div id='map-legend'>
					{% if node.field_indi_map_layers_all.entity.field_layer_wms_legend.value is not empty %}
						<img src="{{ node.field_indi_map_layers_all.entity.field_layer_wms_legend.value }}">
					{% endif %}
					{% if node.field_indi_map_layers_all.entity.field_map_legend %}
						{{ node.field_indi_map_layers_all.entity.field_map_legend|view }}
					{% endif %}
				</div>
			</div>
			<div class='row'>
				<div class="slidecontainer">
					<input type="range" min="1" max="100" value="100" class="w-100 slider align-middle layerSlider" id="layerSlider{{ nodeid }}">
				</div>
			</div>
			<div class='row p-2'>
				<a id="layerUp{{ nodeid }}" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle mx-1 indicator-actions-icon" href="#" data-bs-toggle="tooltip" aria-label="To Top" data-bs-original-title="To Top">
					<i class="fa-solid fa-arrow-up"></i>
				</a>
				<a id="layerDown{{ nodeid }}" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle mx-1 indicator-actions-icon" href="#" data-bs-toggle="tooltip" aria-label="To Bottom" data-bs-original-title="To Bottom">
					<i class="fa-solid fa-arrow-down"></i>
				</a>
				{% if statistics %}
					<a id="performStatistics{{ nodeid }}" class="col-1 p-0" data-bs-toggle="collapse" data-bs-target="#indicator-card-tabs-{{ nodeid }}" aria-expanded="false" aria-controls="indicator-card-tabs-{{ nodeid }}">
						<div data-bs-toggle="tooltip" title="Perform Statistics" aria-label="Perform Statistics" data-bs-original-title="Perform Statistics" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle indicator-actions-icon">
							<i class="fa-solid fa-chart-simple"></i>
						</div>
					</a>
				{% endif %}
				{% if node.field_indi_map_layers_all.entity.field_layer_data_download[0].url is not empty %}
					<a id="downloadStatistics{{ node.field_indi_map_layers_all.entity.id }}" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle mx-1 indicator-actions-icon" href="{{ node.field_indi_map_layers_all.entity.field_layer_data_download[0].url }}" target="_blank" data-bs-toggle="tooltip" aria-label="Download Data" data-bs-original-title="Download Data">
						<i class="fa-solid fa-cloud-arrow-down"></i>
					</a>
				{% endif %}
				<a id="layerHide{{ nodeid }}" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle mx-1 indicator-actions-icon" href="#" data-bs-toggle="tooltip" aria-label="Hide" data-bs-original-title="Hide">
					<i class="fa-solid fa-eye-slash"></i>
				</a>
				{% if is_admin %}
				<div class="indi-menu-btn p-0" data-bs-toggle="tooltip" title="Edit the dataset metadata">
					<a href="/node/{{ nodeid }}/edit" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle indicator-actions-icon use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:500}">
						<i class="fas fa-wrench"></i>
					</a>
				</div>
				<div class="indi-menu-btn p-0" data-bs-toggle="tooltip" title="Edit Global Data">
					<a href="/node/{{ nodeid }}/edit/data_glo" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle indicator-actions-icon use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}">
						<i class="fa-solid fa-globe"></i>
						{% if global_data %}
							<i class="fa-solid fa-circle-dot"></i>
						{% endif %}
					</a>
				</div>
				{# <div class="indi-menu-btn p-0" data-bs-toggle="tooltip" title="Edit Regional Data">
					<a href="/node/{{ nodeid }}/edit/data_regional" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle indicator-actions-icon use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}">
						<i class="fa-solid fa-object-group"></i>
						{% if regional_data %}
							<i class="fa-solid fa-circle-dot"></i>
						{% endif %}
					</a>
				</div> #}
				<div class="indi-menu-btn p-0" data-bs-toggle="tooltip" title="Edit National Statistics Data">
					<a href="/node/{{ nodeid }}/edit/data_country" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle indicator-actions-icon use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}">
						<i class="fa-regular fa-flag"></i>
						{% if national_data %}
							<i class="fa-solid fa-circle-dot"></i>
						{% endif %}
					</a>
				</div>
				{# <div class="indi-menu-btn p-0" data-bs-toggle="tooltip" title="Edit Protected Area/Local Data">
					<a href="/node/{{ nodeid }}/edit/data_local" class="btn btn-outline-secondary d-inline-flex justify-content-center align-items-center rounded-circle indicator-actions-icon use-ajax" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}">
						<i class="fa-solid fa-mountain-sun"></i>
						{% if local_data %}
							<i class="fa-solid fa-circle-dot"></i>
						{% endif %}
					</a>
				</div> #}
				{% endif %}
			</div>
			{% if statistics %}
				<div id="indicator-card-tabs-{{ nodeid }}" class="row bs-light-text indicator-scope-tabs collapse">
					<ul id="indicator-card-tabs-{{ nodeid }}" class="indicator-card-tabs nav nav-tabs nav-justified">
						{% if global_data %}
							<li class="nav-item indi-tab indi-tab-global" role="presentation">
								<div data-bs-toggle="tooltip" title="Display global data">
									<button class="nav-link global-tab" id="global-tab-{{ nodeid }}" data-bs-toggle="tab" data-bs-target="#tabs-1-{{ nodeid }}" type="button" role="tab" aria-controls="tabs-1-{{ nodeid }}" aria-selected="false">
										<i class="fa-solid fa-globe"></i>
										<div class='hidden'>Global</div>
									</button>
								</div>
							</li>
						{% endif %}
						{% if regional_data %}
							<li class="nav-item indi-tab indi-tab-regional" role="presentation">
								<div data-bs-toggle="tooltip" title="Display global data">
									<button class="nav-link regional-tab" id="regional-tab-{{ nodeid }}" data-bs-toggle="tab" data-bs-target="#tabs-2-{{ nodeid }}" type="button" role="tab" aria-controls="tabs-2-{{ nodeid }}" aria-selected="false">
										<i class="fa-solid fa-object-group"></i>
										<div class='hidden'>Regional</div>
									</button>
								</div>
							</li>
						{% endif %}
						{% if national_data %}
							<li class="nav-item indi-tab indi-tab-national" role="presentation">
								<div data-bs-toggle="tooltip" title="Display national data">
									<button class="nav-link national-tab" id="national-tab-{{ nodeid }}" data-bs-toggle="tab" data-bs-target="#tabs-3-{{ nodeid }}" type="button" role="tab" aria-controls="tabs-3-{{ nodeid }}" aria-selected="false">
										<i class="fa-regular fa-flag"></i>
										<div class='hidden'>National</div>
									</button>
								</div>
							</li>
						{% endif %}
						{% if local_data %}
							<li class="nav-item indi-tab indi-tab-local" role="presentation">
								<div data-bs-toggle="tooltip" title="Display local data">
									<button class="nav-link local-tab" id="local-tab-{{ nodeid }}" data-bs-toggle="tab" data-bs-target="#tabs-4-{{ nodeid }}" type="button" role="tab" aria-controls="tabs-4-{{ nodeid }}" aria-selected="false">
										<i class="fa-solid fa-location-dot"></i>
										<div class='hidden'>Local</div>
									</button>
								</div>
							</li>
						{% endif %}
					</ul>
					<div class="tab-content" id="datasetContent-{{ nodeid }}">
						<div id='slider-color-{{ nodeid }}' class='collapse indicator-stats-slider'></div>
						{% if global_data %}
						<div id="tabs-1-{{ nodeid }}" class="dataset-tab w-100 tab-pane fade" role="tabpanel" aria-labelledby="global-tab-{{ nodeid }}">
							<div id='rest-error-global-{{ nodeid }}' class='rest-error'></div>
							<div id='indicator-chart-global-{{ nodeid }}' class='indicator-chart biopama-chart'></div> 
						</div>
						{% endif %}
						{% if regional_data %}
						<div id="tabs-2-{{ nodeid }}" class="dataset-tab w-100 tab-pane fade" role="tabpanel" aria-labelledby="regional-tab-{{ nodeid }}">
							<div id='rest-error-regional-{{ nodeid }}' class='rest-error'></div>
							<div id='indicator-chart-regional-{{ nodeid }}' class='indicator-chart biopama-chart'></div> 
						</div>
						{% endif %}
						{% if national_data %}
						<div id="tabs-3-{{ nodeid }}" class="dataset-tab w-100 tab-pane fade" role="tabpanel" aria-labelledby="national-tab-{{ nodeid }}">
							<div id='rest-error-national-{{ nodeid }}' class='rest-error'></div>
							<div id='indicator-chart-national-{{ nodeid }}' class='indicator-chart biopama-chart'></div> 
						</div>
						{% endif %}
						{% if local_data %}
						<div id="tabs-4-{{ nodeid }}" class="dataset-tab w-100 tab-pane fade" role="tabpanel" aria-labelledby="local-tab-{{ nodeid }}">
							<div id='rest-error-local-{{ nodeid }}' class='rest-error'></div>
							<div id='indicator-chart-local-{{ nodeid }}' class='indicator-chart biopama-chart'></div> 
						</div>
						{% endif %}
						<button class='btn btn-sm btn-outline-secondary' type='button' data-bs-toggle='collapse' data-bs-target='#stat-menu-{{ nodeid }}' aria-expanded='false' aria-controls='stat-menu-{{ nodeid }}'>Statistical Analysis</button>
						<div id='stat-menu-{{ nodeid }}' class='container-fluid collapse indicator-stats-control'>
							<div class='row'>
								<div class='col d-flex justify-content-around'>
									<div class='stop-point-wrapper'>
										<label class='form-label'>{% trans %}Classes{% endtrans %}</label></br>
										<select class='form-control-sm number-of-classes' name='Stop Points'>
											<option value='0' selected='true'>Default</option>
											<option value='3'>3</option>
											<option value='4'>4</option>
											<option value='5'>5</option>
											<option value='6'>6</option>
											<option value='7'>7</option>
											<option value='8'>8</option>
										</select>
									</div>
									<div class='class-method-wrapper'>
										<label class='form-label'>{% trans %}Classification{% endtrans %}</label></br>
										<select class='class-method form-control-sm' name='Class Method'>
											<option value='Default' selected='true'>Default</option>
											<option value='Equal Interval' >{% trans %}Equal Interval{% endtrans %}</option>
											<option value='Standard Deviation' >{% trans %}Standard Deviation{% endtrans %}</option>
											<option value='Natural Breaks (Jenks)' >{% trans %}Natural Breaks (Jenks){% endtrans %}</option>
											<option value='Quantile' >{% trans %}Quantile{% endtrans %}</option>
										</select>
									</div>
									<div class='color-selected-wrapper'>
										<label class='form-label'>{% trans %}Color{% endtrans %}</label>
										<div class='active-color-selected' data-bs-toggle='collapse' data-bs-target='#color-swatch-wrapper-{{nodeid}}' aria-expanded='false' aria-controls='color-swatch-wrapper-{{nodeid}}'>
										</div>
									</div>
									<div class='d-flex flex-column'>
										<label class='form-label'>{% trans %}Invert{% endtrans %}</label>
										<input class='color-reverse form-control-sm' type='checkbox' value='on'>
									</div>
								</div>
								<div id='color-swatch-wrapper-{{nodeid}}' class='collapse color-swatch-wrapper text-bg-dark p-3'>
									<H5>{% trans %}Diverging{% endtrans %}</H5>
									<div class="ramps-diverging">
									</div>	
									<H5>{% trans %}Sequential{% endtrans %}</H5>
									<div class="ramps-sequential">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id='map-legend-wrapper-{{ nodeid }}' class='map-legend-wrapper'>
						<div id='custom-map-legend-{{ nodeid }}'  class='flex-row  w-100 custom-map-legend' style="display: flex;">
							<div style='display: none !important;' id='custom-map-legend-nan' class='legend-nan flex-column'>
								<div class='legend-color' style='background: repeating-linear-gradient(315deg,#DC143C,#DC143C 4px,#ccc 4px,#ccc 8px); height:20px;'></div>
								<div class='legend-text'>&nbsp;{% trans %}NaN = No Data{% endtrans %}</div>
							</div>
						</div>
						<div id='wms-map-legend' ></div>
					</div>
				</div>
			{% endif %}
		</div>
		<div class='indicator-hidden-content hidden'>
			{# {{ dump(node.field_indi_map_layers_all) }} #}
			{{ drupal_entity('node', node.field_indi_map_layers_all.entity.id, 'default') }}
			<div class='layer_nid'>{{ node.field_indi_map_layers_all.entity.id }}</div>
			<div class='node_id'>{{ nodeid }}</div>
			{{content.field_indi_map_layers_all}}
			{% if statistics %}
				{{content.field_indi_get_data_from}}
				{{content.field_indi_geonode_layer}}
				{{content.field_indi_geonode_global}}
				{{content.field_indi_geonode_regional}}
				{{content.field_indi_geonode_country}}
				{{content.field_indi_geonode_pa}}
				{{content.field_indi_data_global}}
				{{content.field_indi_data_regional}}
				{{content.field_indi_data_national}}
				{{content.field_indi_data_local}}
			{% endif %}
		</div>
		<div id="AlertPlaceholder{{ node.field_indi_map_layers_all.entity.id }}"></div>
	</div> 
</div>
<div id='color-swatch-wrapper' class='collapse'>
	<H5>{% trans %}Diverging{% endtrans %}</H5>
	<div id="ramps-diverging">
	</div>	
	<H5>{% trans %}Sequential{% endtrans %}</H5>
	<div id="ramps-sequential">
	</div>
</div>
