<div class="container">
    <div class="row justify-content-center">
        <div class="text-center p-5 position-relative">Core team. We thank all JRC colleagues for their support and contribution (to the data layers, tools, stories and partners).</div>
        <div class="card col-12 col-sm-6 col-md-4 col-lg-3 m-3 p-0">
            <img src="{{ theme_path }}/"  alt="" loading="lazy" typeof="Image" class="image-style-medium card-img-top">
            <div class="card-body">
                <div class="  card-title h5 text-warning"></div>
                <div class="card-text p-2">
                    Project Coordinator
                    {# <div class="text-align-right position-absolute bottom-0 end-0 p-3"><a href="//www.linkedin.com/in/stevebiopama"><i class="fa-brands fa-linkedin-in"></i></a></div> #}
                </div>
            </div>
        </div>
    </div>
</div>
