{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% if content %}
	<div class='chart-pie'>
		<div class='chart-pie-type'>
		  {{content.field_chart_doughnut_type|render|striptags|trim}}
		</div>
		<div class='chart-series'>
		  {{content.field_chart_doughnut_series_data|render|striptags|trim}}
		</div>
		<div class='chart-pie-rest-limit'>
		  {{content.field_chart_doughnut_limit|render|striptags|trim}}
		</div>
		<div class='chart-pie-over-limit'>
		  {{content.field_chart_over_limit_label|render|striptags|trim}}
		</div>
		<div class='chart-pie-under-limit'>
		  {{content.field_chart_under_limit_label|render|striptags|trim}}
		</div>
		<div class='chart-pie-unit'>
		  {{content.field_chart_pie_unit_of_measure|render|striptags|trim}}
		</div>
	</div> 
{% endif %}